<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books - Index</title>
    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
<!--/*@thymesVar id="books" type="java.util.List"*/-->
<!--/*@thymesVar id="book" type="com.mishinyura.books.models.BookV2"*/-->
<h1>Books - Index</h1>
<p>
    <a href="../">Home</a>&nbsp;|&nbsp;
    <a href="/books/new">Add Book</a>&nbsp;|&nbsp;
    <a href="/books/addTen">Add 10 Books</a>&nbsp;|&nbsp;
    <a href="/books/search">Search a book</a>&nbsp;|&nbsp;
</p>
<div th:if="${not #lists.isEmpty(books)}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td><a th:href="@{/books/{id}(id=${book.id})}">View</a></td>
            <td><a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a></td>
            <td>
                <form th:method="DELETE"
                      th:action="@{/books/{id}(id=${book.getId()})}">
                    <button type="submit" class="btn btn-primary">Delete
                    </button>
                </form>
            </td>
        </tr>
        <tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
