<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books - Show</title>
    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
<h1>Books - Show</h1>
<p>
    <a href="/books/">Back</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td><a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
