<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Project</title>
    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
<h1>Home page</h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hello World!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
<p>
    <a href="/books/">Books - Index</a>
</p>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
